<div class="outer">
  <div class="middle">
      <h1 id="message" class="inner" style="font-size:48px; letter-spacing;-1px; text-transform:uppercase; font-weight:700;font-family: 'Roboto', sans-serif;">Welcome aboard, {{{user.name}}}!</h1>
    </div>
  </div>
</div>

 <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
 <script>
 		window.onload = function() {
	 		var message = document.getElementById("message");
	 		var int = 0;
	 		var timerId = setInterval(() => messager(int), 3000);
	 		var messager = function(i) {
	 			if (i == 0) {
	 				message.innerHTML = "You can find a seat four steps to the left";
	 			}
	 			if (i == 1) {
					message.innerHTML = "Would you like to listen to " + "{{{user.musicArtists}}}" + " today?";
	 			}
	 			if (i == 2) {
					message.innerHTML = "Do you want to talk about " + "{{{user.conversationTopics}}}" + "?";
	 			}
	 			int += 1;
	 		}
 		}
 </script>